<script src="app/testProjectServices.js"></script>
<script src="app/testProjectConnectionServices.js"></script>

<div data-ng-controller="testProjectCtrl" style="padding-top: 10px;">
    <button data-ng-show="!showProjectsForm" data-ng-click="addNewProject()" class="btn btn-success">Add Project</button>
    <div data-ng-show="showProjectsForm" style="padding: 10px; border: 1px solid #ddd; border-radius: 5px;">
        <h4 data-ng-if="!projectEditing">New Project</h4>
        <h4 data-ng-if="projectEditing">Edit Project</h4>
        <form class="form-horizontal" data-ng-submit="saveProject(TestProject)" role="form">
            <div class="control-group">
                <label class="control-label" for="txtProjectName">Project Name:</label>
                <div class="controls">
                    <input type="text" id="txtProjectName" data-ng-model="testProject.TestProjectName" required />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="txtProjectDesction">Project Description:</label>
                <div class="controls">
                    <input type="text" id="txtProjectDesction" data-ng-model="testProject.TestProjectDescription" />
                </div>
            </div>
            <div class="controls">
                <button type="button" class="btn btn-small" data-ng-click="CancelProjectForm()">Cancel</button>
                <button type="submit" class="btn btn-small btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <br />
    <br />
    <div data-ng-show="!showProjectsForm && !testProjects.length" class="alert alert-danger" style="padding: 10px; border: 1px solid #ddd; border-radius: 5px;">
        No test projecsts available. Please add a test project.
    </div>
    <div data-ng-show="!showProjectsForm && testProjects.length" style="padding: 10px; border: 1px solid #ddd; border-radius: 5px;">
        <div class="row">
            <div class="span7">
                <h4 data-ng-show="testProjects.length">Test Projects</h4>
            </div>
            <div class="span4">
                <div class="control-group" style="padding: 10px; border: 1px solid #ddd; border-radius: 10px; background-color: #eee">
                    <label class="control-label" for="searchBox">Search : <input id="searchBox" type="search" data-ng-model="searchText" placeholder="search string" /></label>
                </div>
            </div>
        </div>
        <table class="table table-striped" data-ng-show="testProjects.length">
            <thead>
                <tr>
                    <th>
                        <button class="btn btn-link" data-ng-click="sortProjectPredicate = 'TestProjectID'; reverse=!reverse">#</button></th>
                    <th>
                        <button class="btn btn-link" data-ng-click="sortProjectPredicate = 'TestProjectName'; reverse=!reverse">Project Name</button></th>
                    <th>
                        <button class="btn btn-link" data-ng-click="sortProjectPredicate = 'TestProjectDescription'; reverse=!reverse">Project Description</button></th>
                    <th>
                        <button class="btn btn-link" data-ng-click="sortProjectPredicate = 'Status'; reverse=!reverse">Project Status</button></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="testProject in testProjects | filter:searchText | orderBy:sortProjectPredicate:reverse">
                    <td>{{ testProject.TestProjectID }}</td>
                    <td>{{ testProject.TestProjectName }}</td>
                    <td>{{ testProject.TestProjectDescription }}</td>
                    <td>{{ testProject.Status }}</td>
                    <td>
                        <span class="glyphicon glyphicon-remove"></span>
                        <a data-ng-href="ProjectConnections/{{testProject.TestProjectID}}" class="btn btn-link" data-ng-click="populateConnections(testProject)">DB Connections</a>
                        <button class="btn btn-link" data-ng-click="activeTestProject(testProject)">Edit</button>
                        <button class="btn btn-link" data-ng-click="deleteProject(testProject)">Remove</button>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
